*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: f1fbff;
}
.section-padding{
    padding: 100px 0;
}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption-p{
    width: 60%;
    margin: auto;
    font-size: 14px;
    line-height: 1.9;
}
.section-carousel{
    display: flex;
    justify-content: center;
}
.navbar-light .navbar-brand{
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
}
.services .card-body{
    font-size: 50px;
}
.portfolio{

}




